.text {
  color: #fe9a00;
  font-size: 30px;
  margin: 10px 0;
}

.container-btn {
  margin-top: 30px;
}

.one {
  width: 15%;
  height: 100px;
  float: left;
}

.two {
  margin-left: 15%;
  height: 100px;
}

.containertje {
  width: 80%;
  height: 300px;
  margin: auto;
  padding: 10px;
}