.container-player {
  height: 500px;
  width: 100%;
  max-width: 444px;
}

.player-grid {
  border: #fe9a00 2px solid;
  overflow-x: auto;
}

.player-grid>.row {
  width: 440px;
}

.player-grid .row {
  margin: 0;
}

.grid-indicator {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  color: #fe9a00;
  cursor: default;
  font-size: 20px;
  height: 40;
  width: 40;
}

.grid-indicator.highlight {
  background-color: rgba(168, 168, 168, 0.582);
  font-weight: bold;
}

.grid-btn {
  background-color: rgba(23, 23, 23, 0.397);
  border: #fe9a00 2px solid;
  height: 40;
  width: 40;
}

.grid-btn.success-highlight {
  background-color: rgba(168, 168, 168, 0.582);
  border-color: rgba(23, 23, 23, 0.597);
  cursor: pointer;
}

.grid-btn.error-highlight {
  background-color: rgba(168, 168, 168, 0.582);
  border-color: #D50000;
  cursor: pointer;
}

.grid-btn.ship-placed {
  background-color: rgb(241, 122, 18);
}

@media only screen and (max-width: 1300px) {
  .container-player {
    margin: auto;
    margin-bottom: 25px;
  }
}

.grid-btn.cell-selected{
  background-color: rgb(241, 122, 18);
}