.container {
  max-width: 1500px;
  width: 100%;
}

.content {
  margin-top: 0;
}

.player-list {
  min-width: 400px;
  padding: 0;
}

.h2 {
  margin: 0;
}

.player {
  border-radius: 8px;
  margin: 10px 5px;
  padding: 15px;
}

.container-checkbox {
  margin: auto 0;
  height: 30px;
  padding-left: 1%;
}

.checkbox-hidden {
  height: 30px;
  width: 30px;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-hidden input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: rgba(63, 63, 63, 0.397);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-hidden input:checked~.checkmark:after {
  display: block;
}

.checkbox-hidden .checkmark:after {
  left: 11px;
  top: 6px;
  width: 8px;
  height: 13px;
  border: solid orange;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.countdown {
  display: none;
  color: #fe9a00;
  font-size: 25px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 5px;
}

@media only screen and (max-width: 870px) {
  .content {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .player-list,
  .rules-btn {
    flex: unset;
    max-width: 100%;
  }
}

@media only screen and (max-width: 410px) {

  .player-list {
    min-width: 300px;
  }

  .h2 {
    font-size: 30px;
  }
}