.container {
  width: 100%;
  max-width: 1300px;
}

.content {
  margin-top: 0;
}

.container-player {
  height: 500px;
  width: 100%;
  max-width: 444px;
}

.player-grid {
  border: #fe9a00 2px solid;
  overflow-x: auto;
}

.player-grid>.row {
  width: 440px;
}

.player-grid .row {
  margin: 0;
}

.GridIndicator {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  color: #fe9a00;
  cursor: default;
  font-size: 20px;
  height: 40;
  width: 40;
}

.container-rotate .OrangeBtn {
  padding: 10px;
}

.container-availableships .scrollbar-x {
  width: 100%;
  max-width: 525px;
  margin: auto;
}

.AvailableShips {
  color: #fe9a00;
  font-size: 30px;
  text-align: center;
  min-width: 520px;
}

.AvailableShips th {
  border-bottom: #fe9a00 2px solid;
  text-align: center;
  width: 250px;
}

.AvailableShips th:first-child,
.AvailableShips th:last-child {
  width: 150px;
}

.AvailableShips tr td {
  padding: 10px 0;
}

.AvailableShip:hover {
  Background-color: rgba(168, 168, 168, 0.582);
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .container {
    max-width: 800px;
  }

  .h1 {
    text-align: center;
  }

  .content {
    flex-direction: column;
    align-content: center;
  }

  .container-player {
    margin: auto;
    margin-bottom: 25px;
  }

  .h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 590px) {
  .content {
    align-content: end;
  }

  .container-availableships {
    width: 100%;
  }
}