.body {
    background-image: url('../Images/BattleShip_BackGround.png');
    background-size: cover;
    height: 100%;
}

.content {
    border-radius: 10px;
    margin-top: 10%;
    padding: 30px;
}

.container-btn {
    margin: 20px;
}

.scrollbar-x {
    overflow-x: auto;
}

.border-orange {
    border: #fe9a00 2px solid;
}

.OrangeBtn {
    display: block;
    background-color: #fe9a00;
    border-color: #fe9a00;
    border-radius: 11px;
    padding: 10px 40px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
    width: 235px;
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-decoration: none;
}

.Missed {
    background-color: cornflowerblue;
}

.Hit {
    background-color: crimson;
}

.h1 {
    color: #fe9a00;
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h2 {
    color: #fe9a00;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h3 {
    color: #fe9a00;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ul {
    margin-top: -10px;
    margin-left: -10px;
}

.input {
    Background-color: rgba(129, 123, 123, 0.61);
    border-color: rgba(129, 123, 123, 0.61);
    border-radius: 5px;
    color: white;
    font-size: x-large;
}

.Background {
    Background-color: #0f0901b9;
}

.Background2 {

    Background-color: #888887b9;
}

.OrangeBtn:focus,
.OrangeBtn:hover {
    color: white;
    text-decoration: none;
}

.OrangeBtn:active {
    color: grey;
}

@media only screen and (max-width: 576px) {
    .content {
        border-radius: 0;
        margin-top: 0;
    }
}