.body
{
	 background-image: url('../Images/BattleShip_BackGround.png') ;
}
.OrangeBtn
{
    display:block;
    background-color: #fe9a00;
    border-color:  #fe9a00;
    border-radius: 11px;
    padding: 10px 40px;
    color: white;
    font-size: 30px;
    width: 200px;
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.h1
{
    color: #fe9a00;
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.h2
{
    color: #fe9a00;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.h3
{
    color: #fe9a00;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.ul
{
    position:fixed;
    margin-top: -10px;
    margin-left: -10px;
}
.input
{
    Background-color: rgba(129, 123, 123, 0.61);
    border-color: rgba(129, 123, 123, 0.61);
    border-radius: 5px;
    color: white;
    font-size: x-large;
}
.Background
{
    Background-color: #0f0901b9;
}
.OrangeBtn:hover
{
    text-decoration: none;
    color: white;
}
.OrangeBtn:active
{
    color: grey;
}




